<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<div>
    <div>
        <p>Bonjour {{ user.firstname }} {{ user.lastname }},</p>
        <p>
            Vous avez demandé une réinitialisation de mot de passe.
        </p>
        <p>
            Afin de valider le changement mot de passe, nous vous invitons à cliquer sur le lien suivant:<br/>
            <a href="{{ baseUrlFront }}/compte/activer?tokenResetPassword={{ user.tokenResetPassword }}">Définir nouveau mot de passe</a>
        </p>
        <p>
            Si vous n'êtes pas à l'origine de cette demande, merci de nous contacter à cette adresse : <br/>
            <a href="{{ baseUrlFront }}/contact">Contactez-nous</a>
        </p>
    </div>
</div>

{% block body %}{% endblock %}
</body>
</html>
